@page "/activities"

<div class="activities">
<h3 class="activities-header">Dostępne zajęcia</h3>
    <div class="activities-box">
        <table class="activity-table">
            <thead>
                <tr>
                    <th>Nazwa zajęć</th>
                    <th>Data zajęć</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ActivitiesList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Date.Date.ToString("yyyy-MM-dd")</td>
                        <td><button class="btn btn-primary btn-lg">Zapisz się</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>