@page "/"

<div class="main-content">
    <div class="quarter">
        <p>Trenuj kiedy chcesz!</p>
    </div>

    <div class="quarter">
        <p>Wszystkie potrzebne informacje znajdziesz tutaj na naszej stronie.</p>
    </div>

    <div class="quarter">
        <p>Sprawdź nasze zajęcia które pomogą rozwijać całe ciało</p>
    </div>

    <div class="quarter">
        <p>Wszystkie potrzebne informacje znajdziesz tutaj na naszej stronie.</p>
    </div>
</div>
<div class="choose-ticket">
    <h1>Nie czekaj, wybierz swój karnet już TERAZ!</h1>
    <button class="btn btn-success btn-lg">Wybierz karnet</button>
</div>
<div class="other-information">
    <div class="columns-other-information">COś tam</div>
    <div class="columns-other-information">Coś tam</div>
</div>