@page "/instructors"
@using Gymbex.Blazor.Components


<div class="content-container">
    <h3>Nasi trenerzy oraz instruktorzy</h3>
    <div class="instructor-box">
    <BlazorCard Title="Instruktor nr 1" ButtonTitle="Szczegóły" Description="Nasz pierwszy testowy trener personalny i chce zobaczyć jak bedzie wygladac ta karta." ImageSrc="../Images/man.jpg"/>
        <BlazorCard Title="Instruktor nr 1" ButtonTitle="Szczegóły" Description="Nasz pierwszy testowy trener personalny i chce zobaczyć jak bedzie wygladac ta karta." ImageSrc="../Images/man.jpg" />
        <BlazorCard Title="Instruktor nr 1" ButtonTitle="Szczegóły" Description="Nasz pierwszy testowy trener personalny i chce zobaczyć jak bedzie wygladac ta karta." ImageSrc="../Images/man.jpg" />
        <BlazorCard Title="Instruktor nr 1" ButtonTitle="Szczegóły" Description="Nasz pierwszy testowy trener personalny i chce zobaczyć jak bedzie wygladac ta karta." ImageSrc="../Images/man.jpg" />
    </div>
</div>
