.admin-box {
    width: 100%;
    height: auto;
    min-height: 45rem;
    background: linear-gradient(to right, #000000, #808080);
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 20px;
}


.admin-menu {
    background-color: rgba(189, 195, 199, 0.5);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.admin-content {
    padding: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(189, 195, 199, 0.5);
}

.admin-content table{
    width:100%;
}

    .admin-content table > tbody {
        color: white;
    }

    .admin-content table > tbody, td, tfoot, th, thead, tr {
        border-style: none;
    }

.admin-title {
    display: flex;
    background: linear-gradient(to right, #000000, #808080);
    margin-bottom: 0px;
    padding: 20px;
    color:white;
    justify-content:center;
}

/* List component */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
    background-color: gainsboro;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    gap:20px;
}

.admin-table-width{
    width:100%;
}


.pagination-box {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 10px;
}

.pagination-buttons{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:5px
}

.pagination-infos{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.pagination-infos p{
    margin:5px;
    font-weight:900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
}

.active-page {
    border: 2px solid #2510a3 !important;
}

/* Side bar */
/*.sidebar{
    display:flex;
    flex-direction:column;
    gap:24px;
    position:absolute;
    left:0;
    height:70%;
    padding:10px;
    background-color:dimgray;
    border-top-right-radius:100px;
    border-bottom-right-radius:100px;
}*/


.sidebar .image-text img{
    width:240px;
    border-radius:6px;
}