.admin-box {
    width: 100%;
    height:auto;
    min-height: 45rem;
    background-color: darkgray;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 20px;
}


.admin-menu {
    background-color: dimgrey;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.admin-content {
    background-color: white;
    padding: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.admin-content table{
    width:100%;
}

.admin-title {
    display: flex;
    background-color: darkgray;
    margin-bottom:0px;
    padding:20px;
}

/* List component */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
    background-color: gainsboro;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    gap:20px;
}

.admin-table-width{
    width:100%;
}


.pagination-box{
    width:100%;
    display:grid;
    grid-template-columns:50% 50%;
    flex-direction:column;
}

.pagination-buttons{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:5px
}

.pagination-infos{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.pagination-infos p{
    margin:5px;
    font-weight:900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
}

.active-page {
    border: 2px solid #2510a3 !important;
}