@page "/myAccount/{CustomerId:guid}"

<div class="account-box">
    <div class="account-left-content"> 
        <div class="account-image">

        </div>
        <p>Imie i nazwisko usera</p>
    </div>
    <div class="account-right-content">
        prawa
    </div>
</div>
