@page "/myReservations"
@using Gymbex.Blazor.Components

<div class="content-container">
    <BlazorList  Items="Reservations" Title="Moje rezerwacje" ShowActionHeader=false HaveChildContent=false />
</div>