@page "/adminPanel"
@using Gymbex.Blazor.Components
@using Gymbex.Blazor.Pages.AdministratorPanel.Components.CustomerList

<h1 class="admin-title">Panel administracyjny</h1>
<div class="admin-box">
    <div class="admin-menu">
        <button type="button" class="btn btn-dark" @onclick="CustomerListView">Użytkownicy</button>
        <button type="button" class="btn btn-dark" @onclick="EquipmentListView">Sprzęt</button>
        <button type="button" class="btn btn-dark" @onclick="ActivityListView">Zajęcia</button>
        <button type="button" class="btn btn-dark" @onclick="TicketListView">Karnety</button>
        <button type="button" class="btn btn-dark" @onclick="ReservationListView">Rezerwacje</button>
    </div>
    <div class="admin-content">
        @if (ShowCustomers)
        {
            <CustomerList  Items="Customers"/>
        }
        @if (ShowTickets)
        {
            <div class="tab-pane" id="karnety">
                <BlazorList Items="Tickets" Title="Lista karnetów" IsAdmin=true>
                    <ChildContent>
                        <button type="button" class="btn btn-warning">Edytuj</button>
                        <button type="button" class="btn btn-danger">Usuń</button>
                        <button type="button" class="btn btn-primary">Rezerwacje</button>
                    </ChildContent>
                </BlazorList>
            </div>
        }
        @if (ShowActivities)
        {
            <div class="tab-pane" id="zajecia">
                <BlazorList Items="Activities" Title="Lista zajęć" ShowAdditionalButton=true AdditionalButtonTitle="Rezerwacje" IsAdmin=true>
                    <ChildContent>
                        <button type="button" class="btn btn-warning">Edytuj</button>
                        <button type="button" class="btn btn-danger">Usuń</button>
                    </ChildContent>
                </BlazorList>
            </div>
        }

        @if (ShowReservations)
        {
             <div class="tab-pane" id="rezerwacje">
                <BlazorList Items="Reservations" Title="Rezerwacje użytkowników" ShowAdditionalButton=true AdditionalButtonTitle="Rezerwacje">
                    <ChildContent>
                        <button type="button" class="btn btn-danger">Usuń</button>
                    </ChildContent>
                </BlazorList>
            </div>
        }

        @if (ShowEquipments)
        {
            <div class="tab-pane" id="sprzet">
                <BlazorList Items="Equipments" Title="Lista sprzętu" IsAdmin=true ShowAdditionalButton=true AdditionalButtonTitle="Akcja">
                    <ChildContent>
                        <button type="button" class="btn btn-warning">Edytuj</button>
                        <button type="button" class="btn btn-danger">Usuń</button>
                    </ChildContent>
                </BlazorList>
            </div>
        }

    </div>
</div>