@using Gymbex.Blazor.Components
@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="container-fluid">
    <CascadingAuthenticationState>
    <AuthenticationBanner />
    <div class="banner">
        <p class="banner-title"><a href="/"> Gymbex </a> &nbsp;  is your second HOME.</p>
    </div>

    <div class="header-container">
        <div class="flex-item firts-column"> <a href="/activities"> O nas</a> </div>
        <div class="flex-item second-column"> <a href="/activities">Kontakt</a> </div>
        <div class="flex-item third-column"> <a href="/activities">Dostępne zajęcia</a> </div>
    </div>
    <main>
        @Body
    </main>
    </CascadingAuthenticationState>
    <footer class="footer-custom">
        <p>Gymbex.com</p>
        <p>Nasze motto: Gymbex is your second home!</p>
        <p>Serdecznie zapraszamy!</p>
        <p>Wersja aplikacji: v1</p>
    </footer>
</div>
