@page "/tickets"
@using Gymbex.Blazor.Components

<div class="content-container">
    <div class="alerts-box">
        <AlertBlazor Class="@(IsError ? "alert alert-danger" : "alert alert-success")"
                     IsError="IsError"
                     Content="@Content" />
    </div>

    <BlazorList Items="TicketsList" Title="Dostępne karnety">
        <ChildContent>
            @{
                var item = context;
                <button type="button" class="btn btn-success" @onclick="@(async () => { await ChooseTicket(item); })">Wybierz karnet</button>
            }
        </ChildContent>
    </BlazorList>
</div>

