@page "/instructorList"
@typeparam T

<div class="title">
    <h3>@Title</h3>
    <button type="button" class="btn btn-primary btn-lg">Dodaj</button>
</div>
<table class="table admin-table-width">
    <thead>
        <tr>
            @foreach (var property in GetProperties().Skip(1))
            {
                <th>@property.Name</th>
            }
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @foreach (var property in GetProperties().Skip(1))
                {
                    <td>@(property.GetValue(item) is null ? "Brak" : property.GetValue(item))</td>
                }
                <td>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            
        }
    </tbody>
</table>

<style>
    
</style>